.info-tip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  border-radius: 50%;
  background: var(--text-light); 
  color: var(--ink); 
  border 1px solid var(--text);
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  vertical-align: middle;
  font-size: 12px;
}
.info-tip::before {
  content: "i";
  color: var(--accent-primary); 
}
.info-tip .tip-text {
  display: none;
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  font-size: 12px;
  padding:  2em 1.5em;
  background: var(--text-light); 
  color: var(--ink); 
  border-radius: 6px;
  border: 1px solid var(--text);
  z-index: 2001;
  text-align: left;
  
}
.info-tip:hover .tip-text,
.info-tip.active .tip-text {
  display: block;
}

li.hub-group-label { 
   list-style: none; 
   margin-left: -1.5em; 
   font-weight: 700; 
   margin-top: 1em; 
   pointer-events: none; 
}

/* =======================
   DARK MODE (AUTO SWITCH)
   ======================= */

@media (prefers-color-scheme: dark) {
	.info-tip::before {
  content: "i";
  color: var(--text); 
}
	.info-tip {
  background: var(--gold-bq); 
  color: var(--text);
  }
	.info-tip .tip-text {
  background: var(--text);
  color: var(--bg-color);
  }
	
	}